@{
    ViewBag.Title = "Contact us";
}
<h3>@ViewBag.Title</h3>

<div class="contact">
    @Html.Action("RenderContactInfo", "ContactInfo")
</div>

<!--
<ul class="contact">
    <li> <strong>Tel: </strong>1234567890</li>
    <li> <strong>Address: </strong>1234567890</li>
    <li> <strong>Email: </strong><a href="mailto:Support@example.com">Support@example.com</a></li>
    <li> <strong>Wechat: </strong>1234567890</li>
    <li> <strong>QQ: </strong>1234567890</li>
    <li> <strong>Site: </strong>1234567890</li>
    <li> <strong>Zip Code: </strong>1234567890</li>
    <li> <strong>Fax: </strong>1234567890</li>
</ul>
-->