
@model theSite.Models.CompanyInfo

<div class="topNav">
    <div class="logo">
        @*<a href="@Url.Action("Index", "Home")">    same as below*@
        <a href="/">
            <img src="@string.Format("/{0}", Html.DisplayFor(comInfo=> comInfo.Logo))" alt="@this.Model.Name" />
        </a>
    </div>
    <div class="contact">
        <div>
            <p>
                <h2>
                    <span>Tel: </span><span>@Html.DisplayFor(comInfo => comInfo.Phone)</span>
                </h2>
            </p>
        </div>
    </div>
</div>
