
@model theSite.Models.CompanyInfo


<div class="space"></div>
<div class="topNav">
    <div class="logo">
        <img src="@string.Format("/{0}", Html.DisplayFor(comInfo=> comInfo.Logo))" alt="@this.Model.Name" />
    </div>
    <div class="contact">
        <div>
            <p>
                <h2>
                    <span>Tel: </span><span>@Html.DisplayFor(comInfo => comInfo.Phone)</span>
                </h2>
            </p>
        </div>
    </div>
</div>
