.topNav {
    display: block;
    background-color: #fcfcfc;
    width: 100%;
    /*top:1%;*/
}

.container .space {
    height: 5px;
    width: 100%;
}

.topNav .logo {
    float: left;
    width: 200px;
}

.topNav .contact {
    float: right;
    width: 250px;
    text-align:right;
    /*right: 0;*/
    font-style:italic;
}

.body-content {
    margin-top: 4%;
}

.contact {
    list-style-type: none;
    padding: 0;
    -webkit-padding-start: 0;
}

.contact li {
    margin-top: 8px;
}
.contact a {
    text-decoration: none;
}

/*
#slideshow { 
    margin: 50px auto; 
    position: relative; 
    padding: 10px; 
    overflow:hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#slideshow > div { 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
    overflow:hidden;
}*/
 #slideshow { 
    margin: 2% auto; 
    position: relative;
    padding: 10px;
    width: 100%; /*have to specify the size, or the div next to it will be broken*/
    height:600px;
}

#slideshow > div { 
    position: absolute;
    top: 10px; 
    /*left: 10px;
    right: 10px; 
    bottom: 10px; */
}

#slideshow > div > img{
    width: 1000px;
    height:400px;
}